.seeMoreBtn{
    margin-top: 8px;
}

.anotherCsontainer{

}


.imageContainer{
    position: relative;
}

.hearthImage{

    position: absolute;
    width: 25px;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}